<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Apartment</title>
</head>
<body>

<form method="post" action="/apartments">

  	<input type="number" name="rent" placeholder="Rent"><br>
    <input type="number" name="number_of_bedrooms" required placeholder="bedrooms"><br>
    <input type="number" name="number_of_bathrooms" required placeholder="bathrooms"><br>
    <input type="number" name="square_footage" required placeholder="footage"><br>
    <input type="text" name="address" required placeholder="Street address"><br>
    <input type="text" name="city" required placeholder="City"><br>
    <input type="text" name="state" required placeholder="State"><br>
    <input type="text" name="zip_code" required placeholder="ZIP COde"><br>
  <button>Create Apartment</button>
  
</form>


</body>
</html>