<!doctype html>
<html>

	<head>
	<meta charset="UTF-8">
		<title>Welcome Your Apartment(apartment/usersListings)</title>
	</head>
	
	<body>
-------> This is apartment/newListings
{{> /common/_navigation }}
	
	{{#errorMessage}}
  		<div>{{ errorMessage }}</div>
	{{/errorMessage}}
	
	<h1>Your Listing</h1>
	<h2>Active Listing</h2> 
	
	<a href="/apartments/new">List New Apartment</a>
	
	{{#activeListings}}
		<a href="/login">Login</a>
	{{/activeListings}}
	
	{{#currentUser}}
	
		Welcome, {{ currentUser.firstName }} ({{ currentUser.email }})
		<a href="/apartments/mine">My listings</a>
		
	{{/currentUser}}
	
	<h1>Apartments</h1>
	
	{{#apartments}}
		<div>
		<a href="/apartments/{{ id }}">{{ address }}</a>
		</div>
	{{/apartments}}
	

	</body>
	</html>