<!doctype html>
<html>

	<head>
	<meta charset="UTF-8">
		<title>Welcome to my Spark</title>
	</head>
	
	<body>
	
	{{> common/_navigation }}
	
	<h1>Welcome to My Spark {{ name }}</h1>
	<h2>You're really awesome</h2>
	<p>{{ bodyPart }}</p>
	<p>{{#queryLastName}}{{ . }}{{/queryLastName}}</p>
	
	<form method="post" action="/handlePost">
		<input type="text" name="vodka" placeholder="vodka" required>
		<input type="number" name="glasses" placeholder="Nbr of Galsses before Noon" required>
		<button>Get some drinks</button>
	</form>
	
	</body>
</html>
